/* You can add global styles to this file, and also import other style files */
.content{
  min-height: 80vh;
}
body{
margin: 0;
  background: rgba(3, 175, 212, 0.07);
  font-family: 'Roboto', sans-serif;
}
